name: JUnit
on:
  pull_request:

jobs:
  build:
    name: Build and Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Build and Run Tests
        run:  Team_2_Shopping_Cart_Final
      - name: JUnit Report Action
        uses: mikepenz/action-junit-report@v2.2.1

        with:
          report_paths: '**/build/Team_2_Shopping_Cart_Final/TEST-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
